/* Including font */

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Regular.woff') format('woff'), url('../fonts/AvenirNext-Regular.ttf') format('truetype'), url('../fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Medium.woff') format('woff'), url('../fonts/AvenirNext-Medium.ttf') format('truetype'), url('../fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBold';
    src: url('../fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Bold.woff') format('woff'), url('../fonts/AvenirNext-Bold.ttf') format('truetype'), url('../fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* Eric Meyer's CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 16px/24px "Avenir", sans-serif;
}

.wrapper {
    width: 100%;
}

* {
    outline: none
}

:root {
    --color-dark-blue: rgb(35, 85, 135);
    --color-light-blue: rgb(145, 170, 195);
    --color-black: black;
    --color-grey: rgb(127, 127, 127);
    --color-white: white;
    --color-yellow: rgb(255, 180, 0);
    --color-red: rgb(210, 65, 30)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "AvenirBold", sans-serif;
    font-weight: bold;

}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2em
}

h3 {
    font-size: 1.17em;
    text-transform: uppercase;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

/* Header
-----------------------------------------------------------------------------*/

.header {
    background: var(--color-white);
}

.logo,
.header a img {
    margin: 1em;
    height: 1.6em;

}

.header a.search--magnifying_glass img {
    float: right
}

#search--cover {
    background: var(--color-dark-blue);
    position: absolute;
    width: 100%;
    display: flex;
}


input[type=text] {

    padding: 0.3em;
    cursor: pointer;
    font-size: 1em;
    text-align: left;
    margin: 1em auto 1em 1em;
    width: 80%;
    font-family: "AvenirMedium";
    color: var
}

#x--image {
    height: 1.6em;
    float: right;
    margin: 1.2em 1em 1em 1em;
}

#search--cover{
  z-index:99;
  flex-wrap: wrap;
  color:white;
  top:-10em;
}
#search--cover a{
  color: var(--color-dark-blue);
  padding:.5em .7em;
  background: var(--color-white);
  display:inline-block;
  text-decoration: none;
  font-weight: bold
}
#search--cover p{
  margin-left:1em;
  margin-bottom:0.5em
}
#search--cover input{
  border:0;
  color:var(--color-dark-blue);
  width: 70%;
  font-weight:400;
  padding:.6em
}




/* Middle
-----------------------------------------------------------------------------*/

.content {
    margin: 1em
}

/* Button */

button,
input[type=submit] {
    font-weight: bold;
    font-size:1.2em;
    text-transform: uppercase;
    color: var(--color-white);
    letter-spacing: 2px;
    width: 80%;
    padding:.6em;
    border: none;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    margin-bottom: .6em;

}

button:hover,
input[type=submit]:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

input[type=submit] {
    width: 50%;
    transform: translateX(0);
    margin-top: 0.5em;
}

.button--red-blue {
    background: linear-gradient(120deg, var(--color-red) 60%, var(--color-dark-blue) 60%);
}


.button--blue-yellow {
    background: linear-gradient(120deg, var(--color-dark-blue) 60%, var(--color-yellow) 60%);
}

.button--yellow-red {
    background: linear-gradient(120deg, var(--color-yellow) 60%, var(--color-red) 60%);
}

.button--red-yellow {
    background: linear-gradient(120deg, var(--color-red) 60%, var(--color-yellow) 60%);
}

/* Carousel
-----------------------------------------------------------------------------*/

.carousel--container {
    width: 100%;
    height: 115vw;
    margin: 1em;
    margin-left: 0em;
    overflow-x: auto;

}

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 100%
}

.carousel--inner {
    width: 100%;
    height: 110vw;
    display: inline-block;
    float: left;
    background: red;
    background-size: cover!important;
    background-position: center!important;
    color: var(--color-white);
    flex-basis: 100%
}

.carousel--inner {
    display: flex;
    flex-wrap: wrap;
}

.top {
    flex-basis: 100%;
    margin: 1em;
}

.bottom {
    flex-basis: 100%;
    align-self: flex-end;
    text-align: right;
    margin: 1em;
}

.carousel--inner .top{
  content:"";
  height:70%;
  background:url(../images/carousel-name.svg);
  display:inline-block;
  margin:0em;
  padding:1.5em;
  background-repeat: no-repeat;
  z-index:0
}
.carousel--inner .bottom{
  background: url(../images/carousel-price.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin:0;
  padding:1em;
  padding-top: 1.2em;
  text-transform: uppercase;
  font-size:1.2em;
  font-weight: bold
}

.carousel--inner{
  height:117vw
}

.carousel--container{
  overflow-y:hidden;
}

.top h2{
  font-size:2em;
  width:70%
}

#intro_text{
  margin:2em 0
}
/* Interest - Checkbox
-----------------------------------------------------------------------------*/

#by_interest form {
    display: flex;
    flex-wrap: wrap;
}

.interest--checkbox {
    display: block;
    position: relative;
    margin: .4em .8em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.interest--checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.interest--checkmark {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5em;
    background: var(--color-grey);
    background: silver
}

/* On mouse-over, add a grey background color */

.interest--checkbox:hover input ~ .interest--checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.interest--checkbox input:checked ~ .interest--checkmark.blue {
    color: #FFB400!important;
}

.interest--checkbox input:checked ~ .interest--checkmark.red {
    color: #D2411E!important;
}

.interest--checkbox input:checked ~ .interest--checkmark.yellow {
    color: #003764!important;
}

/* Create the checkmark/indicator (hidden when not checked) */

.interest--checkmark em {
    font-weight: bold;
    color: var(--color-white);
}

/* Show the checkmark when checked */

.interest--checkbox input:checked ~ .interest--checkmark em {
    display: block;
}

/* Style the checkmark/indicator */

.interest--checkbox .interest--checkmark em {}

/* TAKE A LOOK AT THIS, PETR!!!!! */
.interest--checkmark{
  background:white;
  box-shadow:1px 1px 2px rgba(0,0,0,0.1)
}
.interest--checkmark em{
  font-family: "AvenirNext-Bold";

}


/* calendar */

.datepicker-days,
.datepicker-months {
    width: 100%;
    background: var(--color-yellow);
    color: var(--color-white);
    padding: 3em;
    margin-left: -3em;
}

.datepicker-days table,
.datepicker-months table {
    width: 100%;
    font-size: 1.5em;


}

.datepicker-days table thead,
.datepicker-months table thead {
    font-weight: bold;

}

.datepicker-days table tr th, .datepicker-days table tr td{
  font-size:80%
}

.datepicker-days table tr th{
  font-weight: bold
}

.datepicker-days table tr th,
.datepicker-days table tr td {
    padding: 10px 0px;
    width: 14%;
    text-align: center;

}

.datepicker-days table tbody,
.datepicker-months table tbody {
    text-align: center;
    width: 100%;
    background: var(--color-yellow);
    color: var(--color-white);
    padding: 3em;
    margin-left: -3em;
}


.datepicker-days .old {
    opacity: 0.5;
}

.datepicker-days .active {
    background: var(--color-white);
    color: var(--color-yellow);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#d {
  display:none
}

#by_calendar {
    font-family: "AvenirMedium", sans-serif;
    text-transform: uppercase;
    background: var(--color-white);
    color: var(--color-yellow);

}

#by_calendar, #by_interest, #search{
  margin-bottom:2em
}



/* Browse Page
-----------------------------------------------------------------------------*/

.browse--search-result {
    width: 100vw;
    height: 100vw;
    background-size: cover!important;
    background-position: center!important;
    margin: 2em -1em;
}

.browse--page-title {
    margin top: 2em;
}

span.time {
    opacity: 0.7;
}

.month {
    font font-family: "AvenirMedium", sans-serif;
}

.browse--header,
.browse--info {
    color: white;
    text-transform: none;
}

.browse--header-date {
    background: url(../images/date.svg);
    background-repeat: no-repeat;
    font-size: 2em;
    position: relative;
    top: 0.5em;
    padding: 0.5em 0 0.5em 1rem;
    line-height: 0.7em;
}

.browse--bottom {
    padding: 0.5em 1rem;
}

span.time {
    display: block;
    font-size: 0.5em;
    padding-top: 0.4em;
    line-height: 1em;
}

span.month {
    text-transform: uppercase;
    font-family: "AvenirMedium";
    font-size: 0.5em;
}

.browse--header-name {
    font-size: 1.4em;
    line-height: 1.2em;
    padding: 0.3em 0;
}

.browse--search-result {
    position: relative;
}

.browse--bottom {
    background: var(--color-dark-blue);
    width: 70%;
    position: absolute;
    bottom: 1em;
}
.button--red{
  background:var(--color-red);
}

/* Footer
-----------------------------------------------------------------------------*/
.footer{
  background: url(../images/mobile.svg) var(--color-dark-blue);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  padding-bottom:4em;
  color: var(--color-white)

  }


.footer a {
    color: var(--color-white);
}

.footer--contact-phone {
    padding: 1em 0 0 0;
}

.footer h3 {
    padding-bottom: 0.5em;
}

.footer--section {
    padding: 1em;
}

.footer img {
    height: 1.2em;
    padding: 0 1em;
}

.footer--social {
    display: flex;
    flex-wrap: wrap;
}

.footer--contact-header {
    flex-basis: 100%;
}




/*--------------------------------------------------------------
Browse search results tablet break-point 760px
--------------------------------------------------------------*/

@media only screen and (min-width: 760px) {
    .browse--search-result-gallery {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -webkit-column-gap: 20px;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        -moz-column-gap: 20px;
        /* Firefox */
        column-count: 2;
        column-gap: 2em;
        padding-top: 2em;
    }

    .browse--search-result {
        width: 100%;
        margin: 0 0 2em 0;
    }
}
